{% extends 'base.html.twig' %}

{% block title %}Les films à succès{% endblock %}

{% block body %}

<div class="container mt-5 index">
    <h1 class="text-center">Success Movies !</h1>
    <div class="col-12">
    
    <table class="table table-hover table-dark justify-content-center text-justify">
        <thead>
            <tr class="text-center align-content-center">
            <div class="text-center"><a href="{{ path('film_new') }}" class="btn btn-danger my-5">Ajouter un nouveau film</a></div>
                <th>Titre</th>
                <th>Affiche</th>
                <th>Synopsis</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.titre }}</td>
                {# <td>{{ film.realisateur. }}</td> #}
                <td><img src="{{ film.affiche }}" class="image"></td>
                <td>{{ film.synopsis }}</td>
                <td>
                <div class="align-self-center">
                    <a href="{{ path('film_show', {'id': film.id}) }}" class="btn btn-success mt-2">Plus de détails</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}" class="btn btn-info mt-2">Editer</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <p class="text-center">Plus à venir</p>
    </div>
</div>

{% endblock %}
